<main class="container {{pageMainClass}}">
	<section class="row bio">
		<h2 class="sectionTitle">EmployBoard</h2>
		<p class="sectionText">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Excepturi assumenda nisi, illo minus sunt possimus ad iusto reiciendis provident. Excepturi ut at facere odio voluptate ullam maiores nesciunt labore? Consequuntur.</p>
	</section>	
	<section class="row about">
		<h2 class="sectionTitle">About</h2>
		<p class="sectionText">Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, excepturi possimus dolorum nulla fugit eos. Suscipit fugit excepturi laborum ullam! Earum accusamus, sed dicta animi labore suscipit blanditiis ratione cumque?</p>
	</section>	
	<section class="row mission">
		<h2 class="sectionTitle">Mission</h2>
		<p class="sectionText">Lorem ipsum dolor sit amet consectetur, adipisicing elit. A, accusantium maiores. Voluptatibus fugiat saepe tempora officia molestias facilis eum corrupti magnam fugit pariatur, excepturi magni reiciendis maxime dignissimos ut aliquam?</p>
	</section>	
	<section class="row example sectCard">
		<h2 class="sectionTitle text-center">Make Your Mark Today!</h2>
		<figure class="d-flex flex-column justify-content-center align-items-center exampleProf">
			<img src="inc/img/250-250.png"/>
			<figcaption>
				<h3>{{fakeUser.0.fname}} {{fakeUser.0.lname}}</h3>
				<span>{{fakeUser.0.occupation}}</span>
				<p>{{fakeUser.0.bio}}</p>
			</figcaption>
		</figure>
	</section>	
</main>