<main class="container-fluid {{pageMainClass}}">
    <!--<section class="row">
        <figure class="col-12">
            <img src="inc/img/100-100.png"/>
            <h2>{{user.0.fname}} {{user.0.lname}}</h2>
            <span>{{user.0.occupation}}</span>
            <figcaption>
                <span>{{user.0.bio}}</span>
            </figcaption>
        </figure>
    </section>
    <hr />
    <section class="row">
        <h2 class="sectionTitle">Employment Experience</h2>
        {{#each jobs}}
        <figure class="col-12">
            <h3>{{this.company_name}}</h3>
            <span>{{this.start_date}} - {{this.end_date}}</span>
            <figcaption>
                <span>{{this.title}}</span>
                <span>{{this.description}}</span>
            </figcaption>
        </figure>
        {{/each}}
    </section>
    <hr />
    <section class="row">
        <h2 class="sectionTitle">Education</h2>
        {{#each education}}
        <figure class="col-12">
            <img />
            <h3>{{this.name}}</h3>
            <span>{{this.start_date}} - {{this.end_date}}</span>
            <figcaption>
                <span>Major: {{this.major}}</span>
                <span>Minor: {{this.minor}}</span>
            </figcaption>
        </figure>
        {{/each}}
    </section>
</main>-->
      <div class="row profileSection">
            <section class="col">
                <h2>Full Name</h2>
                <p>Title</p>
                <p>Business Name</p>
            </section>
        </div>

        <div class="row profileSection">
            <section class="col">
                <h3>Education</h3>
                <p>School Name</p>
                <p>Time Attended</p>
                <p>Degree acquired</p>
            </section>
        </div>
<div class="row profileSection">
            <section class="col">
                <h2>Full Name</h2>
                <p>Title</p>
                <p>Business Name</p>
            </section>
        </div>
        <div class="row profileSection">
            <section class="col">
                <h3>Experience</h3>
                
                <article>
                    <h4>Business Name</h4>
                    <p>Work Duration</p>
                    <p>Job Role</p>
                    <p>Full/Part Time</p>
                    
                </article>

            

            </section>
        </div>
</main>
