<main class="container {{pageMainClass}}">
    <section class="row sectCard">
        <figure class="col-12 d-flex userBio">
            <img src="inc/img/250-250.png"/>
            <figcaption class="p-2">
                <h2>{{user.0.fname}} {{user.0.lname}}</h2>
                <span>{{user.0.occupation}}</span>
                <span>{{user.0.bio}}</span>
            </figcaption>
        </figure>
    </section>
    <hr />
    <section class="row sectCard">
        <h3 class="sectionTitle">Employment Experience</h2>
        {{#each jobs}}
        <article class="col-12 job">
            <span>{{this.title}}</span>
            <span class="userInfoSpan">{{this.company_name}}</span>
            <date class="userInfoSpan">{{this.start_date}} - {{this.end_date}}</date>
            <span>{{this.description}}</span>
        </article>
        {{/each}}
    </section>
    <hr />
    <section class="row sectCard">
        <h2 class="sectionTitle">Education</h2>
        {{#each education}}
        <article class="col-12 education">
            <h3>{{this.name}}</h3>
            <span>{{this.start_date}} - {{this.end_date}}</span>
            <span>Major: {{this.major}}</span>
            <span>Minor: {{this.minor}}</span>
        </article>
        {{/each}}
    </section>
</main>
      <!--<div class="row profileSection">
            <section class="col">
                <h2>Full Name</h2>
                <p>Title</p>
                <p>Business Name</p>
            </section>
        </div>

        <div class="row profileSection">
            <section class="col">
                <h3>Education</h3>
                <p>School Name</p>
                <p>Time Attended</p>
                <p>Degree acquired</p>
            </section>
        </div>
<div class="row profileSection">
            <section class="col">
                <h2>Full Name</h2>
                <p>Title</p>
                <p>Business Name</p>
            </section>
        </div>
        <div class="row profileSection">
            <section class="col">
                <h3>Experience</h3>
                
                <article>
                    <h4>Business Name</h4>
                    <p>Work Duration</p>
                    <p>Job Role</p>
                    <p>Full/Part Time</p>
                    
                </article>

            

            </section>
        </div>
</main>-->
